html {
  font-size: $font-size;
  font-family: $font-family;
  background: $background-color;
  color: $font-color;
  line-height: 1.4;
}

body {
  margin: auto;
  text-align: center;
  width: 100%;
}

p {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1400px;
  margin: 0 auto;

  @media (max-width: 1024px) {
    max-width: 96%;
  }
}

.h2-name {
  width: 16%;
  display: flex;
  align-items: center;
  position: sticky;
  top: 1vw;
  height: fit-content;

  @media (max-width: 1024px) {
    width: fit-content;
    position: static;
    margin: 0 auto;
  }

  h2 {
    font-size: 15vmin;
    font-weight: 250;
    line-height: 88%;
    letter-spacing: 0.1em;
    text-align: center;
    text-transform: uppercase;

    writing-mode: vertical-lr;
    text-orientation: upright;

    text-shadow: 9px 4px 4px rgba(0, 0, 0, 0.38);

    margin: 0 auto;

    @media (max-width: 1024px) {
      writing-mode: horizontal-tb;
      letter-spacing: 0.3em;
      font-size: 18vmin;
    }

    @media (min-height: 1070px) {
      font-size: 160.233px;
    }
  }
}
