html {
  font-size: $font-size;
  font-family: $font-family;
  background: $background-color;
  color: $font-color;
  line-height: 1.4;
}

body {
  margin: auto;
  text-align: center;
  width: 100%;
}

p {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1096px;
  margin: 0 auto;

    & > div {
      margin-bottom: 20%; 
    }
  
    @media (max-width: 1024px) {
      max-width: 768px;
    }
}

.h2-name {
  width: 10%;
  display: flex;
  align-items: center;
  position: sticky;
  top: 1vw;
  height: fit-content;

  h2 {
    font-family: Montserrat;
    font-size: 15vmin; 
    font-weight: 250;
    line-height: 88%;
    letter-spacing: 0.3em;
    text-align: center;
    text-transform: uppercase;

    writing-mode: vertical-lr;
    text-orientation: upright;

    text-shadow: 9px 4px 4px rgba(0, 0, 0, 0.38);

    margin: 0 auto;

    @media (max-width: 1024px) {
      writing-mode: horizontal-tb;
    }

    @media (min-height: 1070px) {
      font-size: 160.233px;
    }
  }

  &_orientation {
    &_horiz {
      margin-left: 9%;

      h2 {
        writing-mode: horizontal-tb;
      }
    }
  }
}
