@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;1,200&display=swap');

$font-size: 1rem;
$name-font-family: 'Cheque-Regular';
$font-family: 'Montserrat', sans-serif;
$background-color: #e0feff;
$font-color: #000000;
$page-width: 650px;

$maxWidth: 1920;

