.contact {
  background-color: $dark-background-color;

  &__wrapper {
    width: 585px;
    margin: 0 auto;
    padding-bottom: 2%;

    @media (max-width: 680px) {
      width: 90%;
    }
  }

  &__el {
    width: 95%;
    display: flex;
    justify-content: space-between;

    margin: 4% 0;
  }

  &__el-logo {
    width: 32.71px;
    height: 23.14px;
    position: relative;
    border: 14px solid #49a2a6;

    p {
      position: absolute;
      font-weight: 275;
      font-size: 38px;
    }

    @media (max-width: 680px) {
      width: 9%;
      height: 5vmin;

      border: 2.5vmin solid #49a2a6;

      p {
        font-size: 8vmin;
      }
    }

    .tg {
      top: -13px;
      left: -8px;

      @media (max-width: 680px) {
        top: -3vmin;
        left: -1.6vmin;
      }
    }

    .ph {
      top: -14px;
      left: -12px;

      @media (max-width: 680px) {
        top: -3vmin;
        left: -2.6vmin;
      }
    }

    .em {
      top: -16px;
      left: -15px;
      @media (max-width: 680px) {
        top: -3vmin;
        left: -2.6vmin;
      }
    }

    .vk {
      top: -15px;
      left: -8px;

      @media (max-width: 680px) {
        top: -3vmin;
        left: -1.6vmin;
      }
    }
  }

  &__el-info {
    width: 75%;
    display: flex;
    align-items: center;
    font-weight: 300;
    font-size: 22px;

    a {
      color: black;
    }

    @media (max-width: 680px) {
      font-size: 4vmin;
    }
  }
}
