.contact {
  background-color: $dark-background-color;

  &__wrapper {
    width: 685px;
    margin: 0 auto;
    padding-bottom: 2%;

    @media (max-width: 680px) {
      width: 90%;
    }
  }

  &__el {
    width: 80%;
    display: flex;
    justify-content: space-between;

    margin: 4% 0;
  }

  &__el-logo {
    width: 50.71px;
    height: 43.14px;
    position: relative;

    border: 19px solid #49a2a6;

    p {
      position: absolute;
      font-weight: 275;
      font-size: 55px;
    }

    @media (max-width: 680px) {
      width: 10%;
      height: 6vmin;

      border: 3vmin solid #49a2a6;

      p {
        font-size: 8vmin;
      }
    }

    .tg {
      top: -17px;
      left: -10px;

      @media (max-width: 680px) {
        top: -3vmin;
        left: -1.6vmin;
      }
    }

    .ph {
      top: -17px;
      left: -16px;

      @media (max-width: 680px) {
        top: -3vmin;
        left: -2.6vmin;
      }
    }

    .em {
      top: -17px;
      left: -20px;

      @media (max-width: 680px) {
        top: -3vmin;
        left: -2.6vmin;
      }
    }

    .vk {
      top: -17px;
      left: -10px;

      @media (max-width: 680px) {
        top: -3vmin;
        left: -1.6vmin;
      }
    }
  }

  &__el-info {
    width: 75%;
    display: flex;
    align-items: center;
    font-weight: 300;
    font-size: 30px;

    a{
      color: black;
    }

    @media (max-width: 680px) {
      font-size: 4vmin;
    }
  }
}
