.skills {
  background-color: $dark-background-color;

  &__text-block {
    width: 886px;
    margin: 0 auto 0 auto;
    padding-bottom: 2%;
    font-weight: 300;
    font-size: 42px;

    line-height: 143px;
    text-align: center;
    letter-spacing: 0.01em;

    span {
      text-decoration-line: underline;
      margin: 0 10px;

      text-decoration: none;
      background-position: 0% 100%;
      background-repeat: no-repeat;
      background-size: 0% 2px;
      // &:hover {
      //   background-size: 100% 2px;
      // }
    }

    @media (max-width: 900px) {
      width: 90%;
      margin: 0 5%;
      font-size: 27px;

      padding: 0 5px 4% 5px;
      line-height: 50px;
    }

    .html {
        background-image: linear-gradient(#FF8C00, #FFA500);
        animation: iliketomoveit1 8s infinite;
        animation-delay: 2.2s;
    }

    .css {
      background-image: linear-gradient(#00BFFF, #1E90FF);
      animation: iliketomoveit1 8s infinite;
      animation-delay: 1s;
    }

    .scss {
      background-image: linear-gradient(#DDA0DD	, #DA70D6);
      animation: iliketomoveit1 8s infinite;
      animation-delay: 3.78s;
    }

    .bem {
      background-image: linear-gradient(#D3D3D3, #A9A9A9);
      animation: iliketomoveit1 8s infinite;
      animation-delay: 9.5s;
    }

    .js {
      background-image: linear-gradient(#FFFF00, #FFD700);
      animation: iliketomoveit1 8s infinite;
      animation-delay: 6.5s;
    }

    .ts {
      background-image: linear-gradient(#6495ED, #00008B);
      animation: iliketomoveit1 8s infinite;
      animation-delay: 7s;
    }

    .git {
      background-image: linear-gradient(#FF4500, #FF4500);
      animation: iliketomoveit1 8s infinite;
      animation-delay: 10s;
    }

    .react {
      background-image: linear-gradient(#00BFFF, #00BFFF);
      animation: iliketomoveit1 8s infinite;
      animation-delay: 8s;
    }

    .wp {
      background-image: linear-gradient(#4682B4, #4682B4);
      animation: iliketomoveit1 8s infinite;
      animation-delay: 13s;
    }

    .eng {
      background-image: linear-gradient(#00BFFF, #FF0000);
      animation: iliketomoveit1 8s infinite;
      animation-delay: 15.44s;
    }
  }
}

@keyframes iliketomoveit1 { 
  40% 	 {background-size: 0% 2px;} 
  50%  {background-size: 100% 2px;} 
	60%  {background-size: 0% 2px;} 
}



