.work {
  background-color: $light-background-color;
  &__info {
    width: 625px;
    margin: 0 auto;

    font-size: 37px;
    font-weight: 300;

    @media (max-width: 600px) {
      font-size: 30px;
    }
  }

  &__title {
    font-size: 6vw;
  }
}

.slider {
  width: 856px;
  position: relative;
  display: flex;
  justify-content: center;
  margin: auto;
  height: 300px;

  @media (max-width: 890px) {
    width: 90%;
  }

  @media (max-width: 600px) {
    width: 98%;
    height: 450px;

    display: flex;
    align-items: flex-start;
  }

  &__item {
    @include flex-center;
    width: 80%;
    margin: 0 auto;

    @media (max-width: 600px) {
      width: 90%;
    }
  }

  &__item {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  @-webkit-keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }

  &__next-btn,
  &__prev-btn {
    cursor: pointer;
    position: absolute;
    top: 0;
    top: 50%;
    width: auto;
    margin-top: -56px;
    padding: 16px;
    color: black;
    font-weight: bold;
    font-size: 50px;
    transition: 0.6s ease;
    border-radius: 50%;

    &:hover {
      background-color: $dark-background-color;
    }

    @media (max-width: 600px) {
      top: 75%;
      font-size: 65px;

      &:hover {
        background-color: unset;
      }
    }
  }

  &__next-btn {
    right: 0;

    @media (max-width: 600px) {
      right: 30%;
    }
  }

  &__prev-btn {
    left: 0;

    @media (max-width: 600px) {
      left: 30%;
    }
  }
}

.slider-dots {
  text-align: center;

  padding: 2% 0;

  &__item {
    cursor: pointer;
    height: 12px;
    width: 12px;
    margin: 0 2px;
    background-color: #ddd;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
}

.slider-dots .active,
.slider-dots_item:hover {
  background-color: #aaa;
}
